h1{
    background-color: lightblue;
    text-align: center;
}
table{
    margin: 0 auto;
    width: 60%;
    text-align: left;
    border: 1px solid black;            
}
th,td{            
    border: 1px solid black;
}
footer{
    text-align: right;
}
table tr:hover {
    background-color: lightblue;
    cursor: pointer;
}