#texto{
    text-align: justify;
    height: 80%;
    width: 80%;
    margin: 3rem auto;
    font-size: 20px;    
}
#estruc{
    justify-content: center;            
    display: flex;    
    height: 300px;
    width: 500px;
    margin: 2rem auto;    
}
em{
    background-color: rgb(236, 95, 95);
}