#principio, #subtipo{
    font-size: 5rem;
    text-align: center;
    font-family: Perpetua;        
}
#docente{
    text-align: center;
    font-size: 2rem;
}
ul{
    position:fixed;
    float:left;    
    font-size: 25px;    
    list-style:none;
}
.nav > li {
    float:left;
}

.nav li a {    
    background-color:#04BF8A;
    color:#fff;
    text-decoration:none;
    border-radius: 10px 0px 10px 0px;
    padding:5px 15px;        
}

.nav li a:hover {
    color:#f5c843;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:10px;
}

.nav li:hover > ul {
    display:block;
}