#cRed{
    background-color: red;
}
#rgbColor{
    background-color: rgb(88, 214, 141 );
}
#rgbaColor{
    background-color: rgba(183, 172, 181, 0.4);
}
#hslColor{
    background-color: hsl(177, 100%, 50%);
}
#hslaColor{
    background-color: hsla(321, 100%, 54%, 0.66);
}    