table{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;            
}
th{
    width: 30%;
    background-color: #ecb81a;
}
th,td{            
    border: 1px solid black;
}
table td:hover{                            
    background-color: #f5c843;            
}
table tr:hover{                            
    background-color: rgb(247, 199, 110);            
}